############ Common ############

# Dependencie
node_modules/

# Editors
.vscode

# Turbo
.turbo/

# Code coverage
coverage/

# Samples
resources/
assets/
packages/ilib-loctool-webos-json-resource/testfiles
